<%- include('partials/header') %>

<div class="center">
<div class="two-cols">

<% for(var i=0; i< courselist.length; i++) { %>


  <div class="a-course">
    <img src="<%= courselist[i].courseimg %>" alt="" style="width:100%;height:auto">
    <div class="">
      <h3> Bộ môn: <%= courselist[i].subject %> </h3>
      <p>Tên khóa học: <%= courselist[i].coursename %> </p>
      <p><%= courselist[i].description %> </p>
      <button type="button" name="button" class="btn btn-success"><a style="color:white" href="/showcoursedetail/<%= courselist[i].courseid %>">Xem thêm</a> </button>
      <button type="button" name="button" class="btn btn-warning"><a style="color:white" href="/enrollcourse/<%= courselist[i].courseid %>">Đăng kí ngay </a> </button>
      <br><br>
    </div>


     </div>


<%   }

%>


</div>

</div>


<%- include('partials/footer') %>
